.rse-editor {

  .rse-platform-switcher-container {
    button {
      margin-right: 1em;
      margin-bottom: 1em;
    }
  }

  .rse-preview-container {
    float: right;
    width: 574px;
  }

  .open-graph-editor-container > div {
    text-align: center;
  }

  .rse-fields {
    overflow: auto;
    padding-right: 12px;

    td {
      width: 100%;
    }

    input[type="text"], textarea {
      width: 100%;
    }
  }

  .rse-clear-fix {
    clear: both;
  }

  .rse-image-selection-container {
    margin-top: 12px;
  }

  h3 a {
    color: inherit;
  }

  label em {
    font-weight: normal;
  }
}
